<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614409048164-i4997n0akfsfdchoaeka2n09osm5f5s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614409048164-i4997n0akfsfdchoaeka2n09osm5f5s5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614409048164-uvus87f15jsu80vve8e9qqd4nva65v7o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIEZ1oTHSwtelBOvFaqNJaeHDicwgaQQA</string>
	<key>GCM_SENDER_ID</key>
	<string>614409048164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ex.Tasheel</string>
	<key>PROJECT_ID</key>
	<string>serviceall-9e2e1</string>
	<key>STORAGE_BUCKET</key>
	<string>serviceall-9e2e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614409048164:ios:059e667e9de6ffa5</string>
	<key>DATABASE_URL</key>
	<string>https://serviceall-9e2e1.firebaseio.com</string>
</dict>
</plist>